html > body {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  margin: 0;
}

#screen {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#moveFullScreen {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  background-color: white;
}

